* {
    padding: 0;
    margin: 0;
}

canvas {
    width: 100%;
    box-sizing: border-box;
    background-color:#ffffff;
}

.cont {
    position: relative;
    border: 1px solid #f0f0f0;
    background: url(../images/a2.jpg) no-repeat;
}

.cont p {
    display: block;
    position: absolute;
    width: 80%;
    height: 80%;
    top: 0;
    left: 50%;
    transform:translate3d(-50%,0,0);
    border: 0;
    display: none;
	box-shadow: 1px 1px 25px;
	text-align:center;
}
.cont p img{
	display: block;
	width:100%;
}
.cont p span{
	line-height:50px;
}

.flex {
    display: flex;
}

.flex section {
    flex: 1;
    text-align: center;
}

.flex section p {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.flex section label,
.flex section input {
    display: inline-block;
    width: 44px;
    height: 44px;
    vertical-align: middle;
}

.flex section label {
    width: auto;
    line-height: 44px;
}

.color span {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid transparent;
}

.color span.checked {
    border-color: #000;
}

.btns{
	margin-top: 50px;
}
.btns a {
    display: block;
    width: 80%;
    margin: 10px auto;
    height: 44px;
    text-align: center;
    background-color: #293354;
    text-decoration: none;
    line-height:44px;
    color:#fff;
    font-weight: bolder;
}
